<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias alias="BoardDTO" type="kr.co.dong.board.BoardDTO"/>
 		<typeAlias alias="BoardReply" type="kr.co.dong.board.BoardReply"/>
 		<typeAlias alias="ProductDTO" type="kr.co.dong.catdog.ProductDTO"/>
 		<typeAlias alias="WishDTO" type="kr.co.dong.catdog.WishDTO"/>
 		<typeAlias alias="OrderDTO" type="kr.co.dong.catdog.OrderDTO"/>
 		<typeAlias alias="ReviewDTO" type="kr.co.dong.catdog.ReviewDTO"/>
 		<typeAlias alias="QADTO" type="kr.co.dong.catdog.QADTO"/>
 		<typeAlias alias="MemberDTO" type="kr.co.dong.catdog.MemberDTO"/>
 		<typeAlias alias="MyDTO" type="kr.co.dong.catdog.MyDTO"/>
 	</typeAliases>
 </configuration>